@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


/** SETTINGS **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato',sans-serif;
    background: url(./media/5566879.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/** CONTAINER **/
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 1200px;
    height: 550px;
   box-shadow: 0 0 30px rgb(77, 76, 76);
}

/**PLAYER**/
.player-0-panel, .player-1-panel {
    width:50%;
    float: left;
    height: 100px;
    padding:20px;
    padding-top: 5%;
    
}
.active {
    background: whitesmoke;
    height: 100%;
}
.active .player-name {
    font-weight: bold;
    font-size: 1.9rem;
}

.player-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    padding-top: 5%;
}
.player-score {
    text-align: center;
    font-size: 100px;
    color: red;
    margin-top: 5%;
}
.player-current-box {
    background-color: red;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    margin-top: 25%;
}
.player-current-label {
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: -10px;
    color: black;
}
.player-current-score {
    font-weight: bold;
    margin-top: 10px;
}

/** BUTTON **/
button {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: 0.3s;
}
button:hover{
    transition: 0.3s;
    font-size: 1.7rem;
}

/**SPECIFIc BUTTON **/
.btn-new {
    top:30px;
}
.btn-hold{
    top: 440px;
}
.btn-roll {
    top: 380px;
}
.btn-icon{
    margin: 10px;
    font-size: 1.6rem;
    color: red;
}

/** DICE **/
.dice {
    position: absolute;
    width: 130px;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
    box-shadow: 0px 0px 15px rgb(148, 147, 147);
}

.winner { 
    background-color: #f7f7f7; 
}
.winner .player-name { 
    font-weight: bold; 
    color: #EB4D4D; 
}

/** MEDIA QUERIES **/



@media screen and (max-width:830px){

    .container {
        width: 90%;
    }
    .player-0-panel,
    .player-1-panel {
        padding-top: 15%;
    }
}

@media screen and (max-width:768px){
    .dice{
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width:500px){
    .player-0-panel,
    .player-1-panel{
        padding-top: 25%;
    }
    .player-score {
        font-size: 80px;
    }
    .btn-hold{
        top:460px;
    }
    .btn-roll{
        top:400px;
    }
}
@media screen and (max-width:500px){
    
    .player-current-box{
        margin-top: 30%;
        width: 50%;
    }
    .btn-hold{
        top:480px;
    }
    .btn-roll{
        top:420px;
    }
}
@media screen and (max-width:400px){
    .player-0-panel,
    .player-1-panel {
        padding-top: 25%;
    }
    .player-name,
    .active .player-name{
        font-size: 1.5rem;
    }
    .player-score {
        font-size: 60px;
    }
    .player-current-box {
        width: 60%;
        margin-top: 80%;
    }
    
    .dice {
        top: 43%;
    }
}